# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/.pub-cache/
mobile/.idea/
mobile/*.iml

# Android
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/key.properties

# iOS
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/ios/Flutter/ephemeral/

# macOS
mobile/macos/Pods/

# Node
server/node_modules/
server/dist/

# Environment variables
server/.env
server/.env.*
!server/.env.example

# Logs
*.log

# OS
.DS_Store
Thumbs.db